@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* --------- mixins --------- */
/* --------- centered --------- */
/* --------- compass sprites --------- */
/* --------- responsive mixins --------- */
body {
  margin: 0;
  padding: 0;
  min-width: 600px;
}

h3 {
  font-size: 27px;
  text-transform: uppercase;
}

h5 {
  font-size: 25px;
}

.wrapper {
  width: 100%;
  text-align: center;
  font-size: 0px;
}

.content {
  max-width: 980px;
}

.nav {
  position: fixed;
  top: 0;
  height: 50px;
  background-color: rgba(90, 90, 90, 0.5);
  line-height: 50px;
  width: 100%;
  min-width: 600px;
  z-index: 999;
}

.container {
  position: relative;
}

.nav__list {
  padding: 0;
}

.nav__item {
  display: inline;
  font-size: 20px;
  border: 3px solid rgba(255, 255, 255, 0);
  padding: 5px;
}
.nav__item:hover {
  border: 3px solid #fff;
}

.nav__item-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__list > .active {
  border: 3px solid #fff;
}

li.nav__item + li.nav__item {
  margin-left: 2%;
}

.wrapper__inner {
  /* margin-top: 50px; */
}

.section {
  min-height: 980px;
  /* margin-top: -45px; */
}

.section__title h1 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  padding-top: 100px;
}

.section__one {
  min-height: 470px;
  background-color: #000;
  overflow: hidden;
}

.section__two {
  background-color: #000;
  color: #fff;
}

.section__three {
  background-color: #fff;
}
.section__three .section__title-item {
  color: #000;
}

.section__four {
  background-color: #000;
}

.section__five {
  background-color: #000;
  color: #000;
}

/*------------------------home section--------------------------*/
.home__background {
  width: 100%;
  position: relative;
  background: #FFF;
}

.background {
  position: relative;
  overflow: hidden;
  height: 490px;
}

.background__cover {
  min-height: 490px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: #070707;
}

.background__img {
  height: 490px;
  position: relative;
}

/*---------slider---------*/
.slide-1 {
  /* ╨Ю╨▒╨╛╨╗╨╛╤З╨║╨░ ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ ╨╕ ╨║╨╜╨╛╨┐╨╛╨║ */
  float: left;
  overflow: hidden;
}

.slider {
  /* ╨Ю╨▒╨╛╨╗╨╛╤З╨║╨░ ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
  height: 180px;
  width: 180px;
  overflow: hidden;
  position: relative;
}

.slide {
  /* ╨б╨╗╨░╨╣╨┤ */
  width: 100%;
  height: 180px;
  position: absolute;
  left: -48%;
  padding-top: 10px;
  opacity: 0;
}

.active {
  opacity: 1;
}

.sli-links {
  /* ╨Ъ╨╜╨╛╨┐╨║╨╕ ╤Б╨╝╨╡╨╜╤Л ╤Б╨╗╨░╨╣╨┤╨╛╨▓ */
  margin-top: 10px;
  text-align: center;
}

.sli-links .control-slide {
  margin: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  background: red;
}

.sli-links .control-slide:hover {
  cursor: pointer;
  background-position: center center;
}

.sli-links .control-slide.active {
  background-position: center top;
}

.prewbutton, .nextbutton {
  /* ╨б╤Б╤Л╨╗╨║╨░ "╨б╨╗╨╡╨┤╤Г╤О╤Й╨╕╨╣" ╨╕ "╨Я╤А╨╡╨┤╤Л╨┤╤Г╤Й╨╕╨╣" */
  display: block;
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  text-indent: -999px;
  background: url(arrowBg.png) left center no-repeat;
  opacity: 0.8;
  z-index: 3;
  outline: none !important;
}

.prewbutton {
  left: 10px;
}

.nextbutton {
  right: 10px;
  background: url(arrowBg.png) right center no-repeat;
}

.slide-1 .prewbutton:hover, .nextbutton:hover {
  opacity: 1;
}

/* ╨Т╤В╨╛╤А╨╛╨╣ ╤Б╨╗╨░╨╣╨┤╨╡╤А */
.slide-2 {
  width: 500px;
  font: normal 12px/15px Georgia, "Times New Roman", Times, serif;
}

.slide-2 .slider {
  height: 250px;
  overflow: hidden;
  border: #888 solid 10px;
  position: relative;
  background: #CCCCCC;
}

.slide-2 .slide {
  padding: 10px 40px;
}

/* ╨Т╤В╨╛╤А╨╛╨╣ ╤Б╨╗╨░╨╣╨┤╨╡╤А - ╨║╨╛╨╜╨╡╤Ж */
.home__wrap {
  min-height: 400px;
  position: absolute;
  top: 0;
  left: calc(50% - 285px);
}

.homeSlider {
  width: 570px;
  height: 200px;
  margin: 0 auto;
  padding-top: 130px;
  position: relative;
}

/* .homeSlider__slider {
  float:left;
  overflow: hidden; 
  

  .homeSlider__slider-item {
    width: 150px;
    height: 150px;
    position: relative;
    
    .homeSlider__slider-img {
      max-width: 100%;
      height: 180px;
      position: absolute;
      left: -48%;
      padding-top: 10px;
      z-index: -1;
      }
      
    .active {
      max-width: 100%;
      height: 180px;
      position: absolute;
      left: -48%;
      padding-top: 10px;
      z-index: 1;
    }
     
  } 
} */
.homeSlider__devider {
  float: left;
  height: 200px;
  border: 2px solid #fff;
}
.homeSlider__devider:before, .homeSlider__devider:after {
  content: "";
  display: table;
}
.homeSlider__devider:after {
  clear: both;
}

.homeSlider__description {
  float: left;
  text-align: right;
  padding: 49px 20px 0px 120px;
}
.homeSlider__description:before, .homeSlider__description:after {
  content: "";
  display: table;
}
.homeSlider__description:after {
  clear: both;
}
.homeSlider__description .homeSlider__description-item {
  padding: 0;
}
.homeSlider__description .homeSlider__description-item .homeSlider__description-link {
  color: #FFF;
  text-decoration: none;
}

.arrowDown {
  margin: 30px 0;
  position: reltive;
}

.arrowDown__border {
  width: 50px;
  height: 50px;
  -moz-transform: rotate(45deg);
  /* ╨Ф╨╗╤П Firefox */
  -ms-transform: rotate(45deg);
  /* ╨Ф╨╗╤П IE */
  -webkit-transform: rotate(45deg);
  /* ╨Ф╨╗╤П Safari, Chrome, iOS */
  -o-transform: rotate(45deg);
  /* ╨Ф╨╗╤П Opera */
  transform: rotate(45deg);
  margin: 0 auto;
}

.arrowDown__arrow1 {
  padding: 10px;
  margin: 12px;
  border-right: 7px solid #fff;
  border-bottom: 7px solid #fff;
  position: absolute;
  top: -12px;
  left: -12px;
  -webkit-animation: scrl 2s infinite;
  animation: scrl 2s infinite;
  opacity: 0;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

.arrowDown__arrow2 {
  margin: 12px;
  border-right: 7px solid #fff;
  border-bottom: 7px solid #fff;
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 10px;
  -webkit-animation: scrl 2s infinite;
  animation: scrl 2s infinite;
  opacity: 0;
  -webkit-animation-delay: .30s;
  animation-delay: .30s;
}

.arrowDown__arrow3 {
  margin: 12px;
  border-right: 7px solid #fff;
  border-bottom: 7px solid #fff;
  position: absolute;
  top: -30px;
  left: -30px;
  padding: 10px;
  -webkit-animation: scrl 2s infinite;
  animation: scrl 2s infinite;
  opacity: 0;
}

@keyframes scrl {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.HomeDescriptoin {
  min-height: 350px;
  background: #FFF;
  margin: 0 auto;
  padding-top: 50px;
}
.HomeDescriptoin:before, .HomeDescriptoin:after {
  content: "";
  display: table;
}
.HomeDescriptoin:after {
  clear: both;
}

.main__title {
  color: #000;
  text-transform: uppercase;
  font-size: 50px;
  padding: 30px;
}

.HomeDescriptoin__title {
  text-align: right;
  float: left;
  width: 50%;
}
.HomeDescriptoin__title .main__titleDescription:before, .HomeDescriptoin__title .main__titleDescription:after {
  content: "";
  display: table;
}
.HomeDescriptoin__title .main__titleDescription:after {
  clear: both;
}
.HomeDescriptoin__title .main__titleDescription .title__devider {
  height: 65px;
  width: 4px;
  background: #000;
  float: right;
}
.HomeDescriptoin__title .main__titleDescription .main__workTime {
  color: #000;
  text-transform: uppercase;
  float: right;
  line-height: 65px;
  padding: 0 20px;
}

.description {
  text-align: left;
  font: normal normal normal 17px/1.4em 'times new roman',times,serif;
}

.HomeDescriptoin__description {
  float: left;
  width: 49%;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.HomeDescriptoin__description p + p {
  padding-top: 20px;
}

/*--------------------Masters----------------*/
.section__two {
  position: relative;
  overflow: hidden;
}
.section__two .section__title {
  position: relative;
}

.title__img {
  width: 100px;
  padding: 30px;
}

.masters {
  overflow: hidden;
  margin: 0 auto;
}

.masters__cover {
  position: absolute;
  opacity: 0.2;
}

.masters__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}
.masters__item .masters__image {
  width: 49%;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.masters__item .masters__changer {
  height: 300px;
  width: 300px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.masters__item .masters__changer--first {
  background: url(../img/masters/kolia_za_rabotoj.jpg) no-repeat -40px -10px;
  position: absolute;
  left: 150px;
  opacity: 0;
}
.masters__item .masters__changer--first:hover {
  background: url(../img/masters/kolia.jpg) no-repeat -60px 0;
}
.masters__item .masters__changer--second {
  background: url(../img/masters/bogdan_za_rabotoj.jpg) no-repeat -100px -10px;
  position: absolute;
  right: 150px;
  opacity: 0;
}
.masters__item .masters__changer--second:hover {
  background: url(../img/masters/bogdan.jpg) no-repeat 0px 0;
}
.masters__item .masters__description--rightAnimation {
  position: absolute;
  width: 90%;
  opacity: 0;
}
.masters__item .masters__description--leftAnimation {
  position: absolute;
  width: 90%;
  opacity: 0;
}
.masters__item .masters__description {
  min-height: 360px;
  display: block;
  width: 49%;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.masters__item .masters__description .main__title {
  text-align: left;
  color: #FFF;
}
.masters__item .masters__description .main__title--left {
  text-align: right;
}
.masters__item .masters__description .description {
  color: #FFF;
}

.mastersLeftMovingImg {
  animation: mastersLeftImgAnimation 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes mastersLeftImgAnimation {
  0% {
    opacity: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    left: 150px;
  }
}
.mastersRightMovingText {
  animation: mastersRightTextAnimation 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes mastersRightTextAnimation {
  0% {
    opacity: 0;
    right: -100%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
.mastersLeftMovingText {
  animation: mastersLeftTextAnimation 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes mastersLeftTextAnimation {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.mastersRightMovingImg {
  animation: mastersRightImgAnimation 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes mastersRightImgAnimation {
  0% {
    opacity: 0;
    right: 0;
  }
  100% {
    opacity: 1;
    right: 150px;
  }
}
/*------------------slideshow---------------*/
.galery {
  margin: 0 auto 100px auto;
}

.galery__grid {
  margin: -2% -2%;
}
.galery__grid:before, .galery__grid:after {
  content: "";
  display: table;
}
.galery__grid:after {
  clear: both;
}

.caption__description {
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  opacity: 0;
}

.galery__img {
  position: relative;
  display: block;
  height: 100%;
  margin: 0 auto;
}

/*---------------*/
/***** Bubba *****/
/*---------------*/
.galery__item {
  background: #000;
  margin: 2% 2%;
  width: 29%;
  height: 300px;
  overflow: hidden;
  position: relative;
  float: left;
}

.galery__img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.galery__item:hover .galery__img {
  opacity: 0.4;
}

.caption {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.caption::before,
.caption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.caption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.caption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

.caption__title {
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

.caption__description {
  letter-spacing: 1px;
  font-size: 17px;
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

.galery__item:hover .caption::before,
.galery__item:hover .caption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.galery__item:hover .caption__title,
.galery__item:hover .caption__description {
  opacity: 1;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

.caption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.caption__title span {
  font-weight: 800;
}

/*------------------Contacts----------------------*/
.contact__box {
  margin: 0 auto;
}
.contact__box:before, .contact__box:after {
  content: "";
  display: table;
}
.contact__box:after {
  clear: both;
}

.address__title {
  color: #fff;
  font-size: 30px;
}

contacts__descr
i
p
a
address__title
.address__descr {
  color: #fff;
  font-size: 17px;
  padding-bottom: 50px;
}

.form__container {
  margin: 30px 0;
}

::-webkit-input-placeholder {
  /* ╤Г╨║╨░╨╖╤Л╨▓╨░╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╤В╨╡╨║╤Б╤В╨░ ╨▓ ╤Б╤В╤А╨╛╨║╨░╤Е ╨▓╨▓╨╛╨┤╨░ */
  font: bold 14px/14px Arial, sans-serif;
  color: #bbb;
  text-transform: uppercase;
}

::-moz-placeholder {
  /* ╤Г╨║╨░╨╖╤Л╨▓╨░╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╤В╨╡╨║╤Б╤В╨░ ╨▓ ╤Б╤В╤А╨╛╨║╨░╤Е ╨▓╨▓╨╛╨┤╨░ ╨┤╨╗╤П ╨╝╨╛╨╖╨╕╨╗╤Л */
  font: bold 14px/14px Arial, sans-serif;
  color: #bbb;
  text-transform: uppercase;
}

#messege input[type="text"] {
  float: left;
  border: 1px solid #ccc;
}

#messege input[type="text"],
#messege textarea {
  background: #FFF;
  width: 50%;
  box-shadow: none;
  margin-bottom: 30px;
  padding: 15px 20px;
  font: bold 14px/14px Arial, sans-serif;
  color: #222;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

#messege textarea {
  border: none;
  height: 210px;
  width: 100%;
  resize: none;
}

input.btn {
  /* ╨┐╤А╨░╨▓╨║╨╕ ╨┤╨╗╤П ╨╝╨╛╨╖╨╕╨╗╤Л */
  border: 0;
  height: 20px;
  color: #000;
}

.box {
  padding: 20px 0px;
  margin: 0 auto;
}

.gogleMap {
  margin-bottom: 30px;
}

#messege {
  float: left;
}
